[submodule "deps/sds"]
	path = deps/sds
	url = git@github.com:antirez/sds.git
[submodule "deps/mpack"]
	path = deps/mpack
	url = git@github.com:ludocode/mpack.git
[submodule "deps/farmhash-c"]
	path = deps/farmhash-c
	url = git@github.com:uxcn/farmhash-c.git
[submodule "deps/hashmap_c"]
	path = deps/hashmap_c
	url = git@github.com:petewarden/c_hashmap.git
